<!--<title>Node.js Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Танах в подстрочном переводе на русский язык</title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Hebrew">

<link rel="apple-touch-icon" sizes="180x180" href="http://bulma.io/favicons/apple-touch-icon.png?v=201701041855">
  <link rel="icon" type="image/png" href="http://bulma.io/favicons/favicon-32x32.png?v=201701041855" sizes="32x32">
  <link rel="icon" type="image/png" href="http://bulma.io/favicons/favicon-16x16.png?v=201701041855" sizes="16x16">
  <link rel="manifest" href="http://bulma.io/favicons/manifest.json?v=201701041855">
  <link rel="mask-icon" href="http://bulma.io/favicons/safari-pinned-tab.svg?v=201701041855" color="#00d1b2">
  <link rel="shortcut icon" href="http://bulma.io/favicons/favicon.ico?v=201701041855">
  <meta name="msapplication-config" content="http://bulma.io/favicons/browserconfig.xml?v=201701041855">
  <meta name="theme-color" content="#00d1b2">

<!-- <link rel="stylesheet" href="/material/material.min.css"> -->
<link rel="stylesheet" href="/bulma/bulma.css">
<link rel="stylesheet" href="/bulma/font-awesome.min.css">

<link rel="stylesheet" href="/stylesheets/styles.css">
<!-- Fonts -->
 <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
    rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

<!--getmdl-select-->
<!-- <link rel="stylesheet" href="/stylesheets/getmdl-select.min.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster.bundle.min.css" />
<link rel="stylesheet" href="/dialog/jquery-confirm.min.css">
<link href="/lib/noty/noty.css" rel="stylesheet" />
<script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
<script>

 // the "notfound" implements a catch-all
      // with page('*', notfound). Here we have
      // no catch-all, so page.js will redirect
      // to the location of paths which do not
      // match any of the following routes
      //
    //  page.base('/basic');

   //   page('/', index);
      page('/contact', about);
    
      // page('/contact', contact);
      // page('/contact/:contactName', contact);
      page();

      function about() {
console.log("jk");
document.querySelector('.heb-content--flex')
          .textContent = 'viewing index';
      }

</script>
