               #view-source {
                   position: fixed;
                   display: block;
                   right: 0;
                   bottom: 0;
                   margin-right: 40px;
                   margin-bottom: 40px;
                   z-index: 900;
               }

               .hebrew-ribbon {
                   width: 100%;
                   height: 40vh;
                   background-color: #3F51B5;
                   -webkit-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
               }

               .hebrew-main {
                   -webkit-flex-shrink: 0;
                   -ms-flex-negative: 0;
                   flex-shrink: 0;
               }

               .hebrew-header .mdl-layout__header-row {
                   padding-left: 40px;
               }

               .hebrew-container {
                   /*width: calc(100% - 16px);*/
                   margin: 0 auto;
               }

               .hebrew-content {
                   border-radius: 2px;
                   padding: 15px 56px;
                   margin-bottom: 80px;
               }

               .hebrew-content h4 {
                   text-align: right;
               }

               .hebrew-content h4 a {
                   text-decoration: none;
                   /* Отменяем подчеркивание у ссылки */
               }

               .hebrew-layout.is-small-screen .hebrew-content {
                   padding: 40px 28px;
               }

               .hebrew-content h3 {
                   margin-top: 25px;
               }

               .hebrew-footer {
                   padding-left: 40px;
               }

               .hebrew-footer .mdl-mini-footer--link-list a {
                   font-size: 13px;
               }

               .hebrew-content .rtl {
                   direction: rtl;
               }

               .hebrew {
                   color: #dcdcdc;
                   font-size: 20px;
               }

               .manuscript {
                   color: #333;
                   font-size: 22px;
               }

               .unit {
                   align-items: center;
                   padding: 1em;
                   display: flex;
                   flex-direction: column;
               }

               .ref {
                   font-size: 80%;
                   color: #dcdcdc;
               }

               .translit {
                   color: #008b8b;
                   font-style: italic;
               }

               .strongsnt {
                   color: #e2e2e2;
               }

               .strongs {
                   color: #009292;
                   cursor: pointer;
                   font-size: 1.1rem
               }

               .strongs:hover {
                   background-color: rgba(52, 152, 219, 0.05);
               }

               .unit.stih {
                   flex-direction: row;
                   color: darkred;
               }

               .unit.punct {
                   color: rgb(20, 156, 255);
                   align-self: center;
                   font-size: 24px;
                   background: rgb(255, 255, 255);
                   padding: 0px;
               }

               .unit span {
                   height: 100%;
                   flex: 1 0 0;
                   padding: 0 8px;
               }

               .heb-content--flex {
                   display: flex;
                   flex-wrap: wrap;
                   border-width: 1px;
                   border-style: solid;
                   border-color: rgb(252, 252, 252);
                   border-image: initial;
               }

               .heb-content-strong {
                   display: block;
               }

               .dlgStrong {
                   font-size: large
               }

               .dlgStrong df {
                   color: rgb(0, 150, 136);
                   line-height: 1.3;
               }

               hr {
                   /* display: block; */
                   height: 1px;
                   border: 0;
                   border-top: 1px solid #dcdcdc;
                   margin: .3em 0;
                   padding: 0;
               }

               .topic {
                   color: deeppink
               }

               .rus:empty:before {
                   content: "текст";
                   background: #ffe4c4;
                   color: #333;
                   padding: 0 5px;
               }

               .rus {
                   color: #e74c3c;
                   cursor: pointer;
                   direction: ltr;
               }

               .morph {
                   cursor: pointer;
               }

               .morph:hover {
                   background-color: rgba(52, 152, 219, 0.20);
               }

               .rus,
               .eng,
               .morph {
                   direction: ltr;
               }

               .mdl-menu__item {
                   height: 18px;
                   line-height: 18px;
                   text-decoration-line: none;
               }

               .mdl-menu a {
                   color: black;
                   font-weight: 500;
                   text-decoration: none;
               }

               .mdl-layout__drawer.is-visible {
                   width: 400px;
               }