<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

        <div class="columns">

                      <div class="column">
                            <main class="hebrew-main mdl-layout__content">
                                    <div id="c_hebrew" class="hebrew-container">
                                      
                                    </div>
                                    <!-- <% include ../partials/footer.ejs %> -->
                                </main>
                      </div>
        </div>
</body>

<script src="/dialog/jquery-confirm.min.js"></script>
<script src="/lib/noty/noty.js"></script>
<!-- <script src="/lib/inputizer/inputizer.js"></script> -->
<script src="/lib/mark/jquery.mark.min.js"></script>
<script src="/lib/jspanel/jspanel.min.js"></script>
<script src="/lib/jquery-editable/js/jquery-editable-poshytip.min.js"></script>


<!-- optionally jsPanel extensions -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/modal/jspanel.modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/hint/jspanel.hint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/layout/jspanel.layout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.0.0/dist/extensions/dock/jspanel.dock.js"></script>

<script src="/js/myHebrew.js"></script>

</body>

</html>